{{define "calculator.html"}}
  {{template "header.html" .Header}}

  {{with .Page}}
    <script>
        // Clear number inputs on focus to overwrite existing values
        document.addEventListener("DOMContentLoaded", function() {
            const numberInputs = document.querySelectorAll('input[type="number"]');
            numberInputs.forEach(input => {
                input.addEventListener("focus", function() {
                    this.value = "";
                });
            });
        });
    </script>
    <div class="level mb-5">
        <div class="level-left">
            <div class="level-item">
                <h2>Deck Estimate Calculator - Details</h2>
            </div>
        </div>
    </div>
    <form method="post" action="/estimate" class="box">
        <div class="columns">
            <div class="column is-5">
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Deck</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Description</label>
                            <input class="input is-normal" type="text" name="desc" step="0.1" value="{{printf "%s" .Desc}}" maxlength="50" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Length (ft):</label>
                            <input class="input is-normal" type="number" name="length" step="0.1" value="{{printf "%.1f" .Length}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Width (ft):</label>
                            <input class="input is-normal" type="number" name="width" step="0.1" value="{{printf "%.1f" .Width}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Height (ft):</label>
                            <input class="input is-normal" type="number" name="height" step="0.1" min="0" value="{{printf "%.1f" .Height}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Material:</label>
                            <div class="select">
                                <select name="material" required style="width: 30ch;" value="{{.Material}}">
                                   <option value="outdoorWood" {{if eq .Material "outdoorWood"}} selected {{end}}>Outdoor Wood</option>
                                   <option value="cedar" {{if eq .Material "cedar"}} selected {{end}}>Cedar</option>
                                   <option value="timberTechPrime" {{if eq .Material "timberTechPrime"}} selected {{end}}>TimberTech Prime</option>
                                   <option value="timberTechProReserve" {{if eq .Material "timberTechProReserve"}} selected {{end}}>TimberTech Pro Reserve</option>
                                   <option value="timberTechProLegacy" {{if eq .Material "timberTechProLegacy"}} selected {{end}}>TimberTech Pro Legacy</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <input id="fascia" class="switch is-success" type="checkbox" name="hasFascia" {{if .HasFascia}}checked{{end}}>
                            <label for="fascia">Include matching fascia?</label>
                        </div>
                    </div>
                </div>
                <div class="field">
                        <input id="demo" class="switch is-success" type="checkbox" name="hasDemo" {{if .HasDemo}}checked{{end}}>
                        <label for="demo"> Remove Existing Structure? </label>
                </div>
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Rails (optional)</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Material:</label>
                            <div class="select">
                                <select name="railMaterial" class="is-fullwidth" value="{{.RailMaterial}}">
                                    <option value="">None</option>
                                    <option value="wood" {{if eq .RailMaterial "wood"}} selected{{end}}>Wood</option>
                                    <option value="composite" {{if eq .RailMaterial "composite"}} selected{{end}}>Composite</option>
                                    <option value="aluminum" {{if eq .RailMaterial "aluminum"}} selected{{end}}>Aluminum</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Infill:</label>
                            <div class="select">
                                <select name="railInfill">
                                    <option value="">None</option>
                                    <option value="balusters" {{if eq .RailInfill "balusters"}} selected {{end}}>Balusters</option>
                                    <option value="cable" {{if eq .RailInfill "cable"}} selected {{end}}>Cable</option>
                                    <option value="glass" {{if eq .RailInfill "glass"}} selected {{end}}>Glass</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Stairs</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Width (ft):</label>
                            <input class="input is-normal" type="number" name="stairWidth" step="0.1" min="0" value="{{printf "%.1f" .StairWidth}}" maxlength="20" style="width: 20ch;">
                        </div>
                    </div> 
                    <div class="control">
                        <div class="field">
                            <label class="label">Stair Rail Options:</label>
                            <div class="select">
                            <select id="stairRailCount" name="stairRailCount" required>
                                <option value="0" {{if eq .StairRailCount 0.0}} selected {{end}}>No Stair Rails</option>
                                <option value="1" {{if eq .StairRailCount 1.0}} selected {{end}} >One side</option>
                                <option value="2" {{if eq .StairRailCount 2.0}} selected {{end}} >Both sides</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input id="stairfascia" class="switch is-success" type="checkbox" name="hasStairFascia" {{if .HasStairFascia}}checked{{end}}>
                        <label for="stairfascia">Include Stair Fascia </label>
                    </div>
                    <div class="field">
                        <input id="stairtk" class="switch is-success" type="checkbox" name="hasStairTK" {{if .HasStairTK}}checked{{end}}>
                        <label for="stairtk">Include stair toe kicks </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control"> <input class="button is-primary" type="submit" value="Calculate Estimate!"> </div>
                    <div class="control"> <a href="/calc?option=deck" class="button is-primary">Reset</a> </div>
                </div>
            </div>
        </div>
    </form>
    {{end}}
  {{template "footer.html" .}}
{{end}}