{{define "estimate-patio.gohtml"}}
  {{template "header.gohtml" .Header}}

  <link rel="stylesheet" type="text/css" href="/css/estimate.css">

  {{with .Page}}
  <div style="max-width:480px;">
    {{if .Error}}
    <div class="notification is-danger">{{.Error}}</div>
    {{end}}

    <h2 class="title is-4">Patio Cover Estimate{{if gt .EstimateID 0}} #{{.EstimateID}}{{end}}</h2>
    {{if .Desc}}<p class="has-text-grey mb-4">{{.Desc}}</p>{{end}}

    <div class="est-scope-card">
      <div class="est-scope-head">
        <span class="est-scope-title">Scope of Work</span>
      </div>
      <div class="est-scope-table-wrap">
      <table class="est-line-items">
        <colgroup>
          <col class="col-item">
          <col>
          <col class="col-cost">
        </colgroup>
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th class="th-cost">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-item">{{.PatioTypeLabel}}</td>
            <td class="td-desc">{{formatPatioDescription .}}</td>
            <td class="td-cost">{{formatCost .BaseCost}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="est-subtotal-row">
            <td class="td-item">Subtotal</td>
            <td class="td-desc"></td>
            <td class="td-cost">{{formatCost .Subtotal}}</td>
          </tr>
          <tr class="est-tax-row">
            <td class="td-item">Sales Tax</td>
            <td class="td-desc">{{if .Customer.State}}{{.Customer.State}}{{else}}WA{{end}} (estimated)</td>
            <td class="td-cost">{{formatCost .SalesTax}}</td>
          </tr>
          <tr class="est-total-row">
            <td class="td-item">Total</td>
            <td class="td-desc">
              {{if not .ExpirationDate.IsZero}}Valid through {{.ExpirationDate.Format "Jan 2, 2006"}}{{end}}
            </td>
            <td class="td-cost">{{formatCost .TotalCost}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    {{if and (gt .EstimateID 0) (not .SaveDate.IsZero)}}
    <p class="has-text-grey is-size-7 mb-4">Version {{.Version}} &mdash; Saved {{.SaveDate.Format "Jan 2, 2006"}}</p>
    {{end}}

    <div class="box">
      <h3 class="title is-5">Contact Info</h3>
      {{if .Customer.FirstName}}
      <p>{{.Customer.FirstName}} {{.Customer.LastName}}</p>
      <p>{{.Customer.Address}}, {{.Customer.City}}, {{.Customer.State}} {{.Customer.Zip}}</p>
      <p>{{.Customer.PhoneNumber}} &middot; {{.Customer.Email}}</p>
      {{else}}
      <p class="has-text-grey">No contact info yet.</p>
      {{end}}
      <a href="/customer" class="button is-small mt-2">{{if .Customer.FirstName}}Edit{{else}}Add{{end}} Contact Info</a>
    </div>

    {{if .SaveDate.IsZero}}
      {{if .Customer.FirstName}}
      <form method="post" action="/patio-estimate">
        <input type="hidden" name="save" value="true">
        <button class="button is-primary is-fullwidth is-medium" type="submit"><i class="fas fa-save"></i> Save Estimate</button>
      </form>
      {{else}}
      <div class="notification is-warning is-light">Add your contact info above before saving.</div>
      {{end}}
    {{else}}
    <div class="notification is-success is-light">Estimate saved.</div>
    {{end}}

    {{if or .TermsHTML .Terms}}
    <div class="box mt-5">
      <h3 class="title is-5">Terms and Conditions</h3>
      {{if .TermsHTML}}<div class="content is-small">{{.TermsHTML}}</div>{{else}}<pre class="is-size-7">{{.Terms}}</pre>{{end}}
    </div>
    {{end}}
  </div>
  {{end}}

  {{template "footer.gohtml" .}}
{{end}}
