<!DOCTYPE html>
<html>
<head>
    <title>Deck Estimate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--
    <style>
        body { font-size: 18px; }
        @media (max-width: 500px) {
            body { font-size: 30px; }
        }
    </style>
    -->
</head>
<body class="container mt-5">
    <div class="level mb-5">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Deck Estimate</h1>
                {{if not .SaveDate.IsZero}}
                    <div class="level-item">
                    </div>
                {{end}}
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <img src="/images/colout2.png" alt="Colout2 Logo" style="max-width: 150px; max-height: 150px;">
            </div>
        </div>
    </div>
    {{if .TotalCost}}
    <div class="box mt-5">
        <h2 class="subtitle">Customer
            {{if eq .Customer.FirstName ""}}
                <span class="is-pulled-right"><a href="/customer" class="button is-danger">Add Customer</a></span>
            {{else if .SaveDate.IsZero}}
                <span class="is-pulled-right"><a href="/customer" class="button is-primary">Edit</a></span>
            {{end}}
        </h2>
        <div class="content">
            {{end}}
            <p>{{.Customer.FirstName}} {{.Customer.LastName}}</p>
            <p>{{.Customer.Address}}</p>
            <p>{{.Customer.City}}, {{.Customer.State}} {{.Customer.Zip}}</p>
            <p>{{.Customer.PhoneNumber}}</p>
            <p>{{.Customer.Email}}</p>
        </div>
        <hr>
        <h2 class="subtitle">
            <p class="has-text-white has-background-black"> Details 
            {{if gt .EstimateID 0}}
                 - EstimateID: {{.EstimateID}} 
                 {{if .AcceptDate.IsZero}}
                    Expires: {{.ExpirationDate.Format "2006-01-02"}}
                 {{else}}
                     - Accepted on {{.AcceptDate.Format "2006-01-02"}}
                 {{end}}
            {{end}}
           </p>
           {{if .SaveDate.IsZero}}
            <span class="is-pulled-right"><a href="/" class="button is-primary">Edit</a></span>
           {{end}}
        </h2>
        <div class="columns is-multiline">
            <div class="column is-2"><strong>Item</strong></div>
            <div class="column is-8"><strong>Description</strong></div>
            <div class="column is-2 has-text-right"><strong>Cost</strong></div>

            <div class="column is-2">Demo</div>
            {{if .HasDemo}}
            <div class="column is-8">Remove and dispose of existing structure of approximately {{printf "%.1f" .DeckArea}} sq ft</div>
            <div class="column is-2 has-text-right">{{formatCost .DemoCost}}</div>
            {{else}}
            <div class="column is-8">Demo of exsisting structure not included.</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}

            <div class="column is-2">Deck</div>
            <div class="column is-8">{{formatDeckDescription .}}</div>
            <div class="column is-2 has-text-right">{{formatCost .DeckCost}}</div>

            <div class="column is-2">Rail</div>
            {{if .RailCost}}
            <div class="column is-8">Supply and install {{.RailMaterial}} rail posts and top rail with {{.RailInfill}} infill. Rails on 3 sides of deck approximately {{printf "%.1f" .RailFeet}} lineal ft</div>
            <div class="column is-2 has-text-right">{{formatCost .RailCost}}</div>
            {{else}}
            <div class="column is-8">Deck rails not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}

            <div class="column is-2">Fascia</div>
            {{if .HasFascia}}
            <div class="column is-8">Supply and install fascia to match deck material approximately {{printf "%.1f" .FasciaFeet}} lineal ft</div>
            <div class="column is-2 has-text-right">{{formatCost .FasciaCost}}</div>
            {{else}}
            <div class="column is-8">Deck fascia not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}

            <div class="column is-2">Stairs</div>
            {{if .StairWidth}}
            <div class="column is-8">Supply and install premium pressure treated stair framing at {{printf "%.1f" .StairWidth}} ft wide. 
                                    Stair treads approximately 11" per step with matching {{.Material}} decking on treads and toe kicks
                                    Total rise of stairs is {{printf "%.1f" .Height}} ft. </div>
            <div class="column is-2 has-text-right">{{formatCost .StairCost}}</div>
            {{else}}
            <div class="column is-8">Stairs not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}
            
            <div class="column is-2">Stair Rails</div>
            {{if .StairRailCost}}
            <div class="column is-8">Supply and install matching Stair rails with {{.RailMaterial}} rail posts and top rail with {{.RailInfill}} infill. Rails installed on 2 sides.</div>
            <div class="column is-2 has-text-right">{{formatCost .StairRailCost}}</div>
            {{else}}
            <div class="column is-8">Stair rail not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}


            <div class="column is-2 has-text-weight-semibold">Subtotal</div>
            <div class="column is-8 has-text-weight-semibold"></div>
            <div class="column is-2 has-text-weight-semibold has-text-right">{{formatCost .Subtotal}}</div>

            <!--
            <div class="column is-2 has-background-light">Subtotal</div>
            <div class="column is-8 has-background-light"></div>
            <div class="column is-2 has-background-light has-text-right">{{formatCost .Subtotal}}</div>
            -->

            <div class="column is-2">Sales Tax</div>
            <div class="column is-8">WA (Estimated) sales tax.</div>
            <div class="column is-2 has-text-right">{{formatCost .SalesTax}}</div>
            <div class="column is-2 has-text-weight-semibold has-background-light"><strong class="is-size-4">Total</strong></div>
            <div class="column is-8 has-text-weight-semibold has-background-light"></div>
            <div class="column is-2 has-text-weight-semibold has-text-right has-background-light"><strong class="is-size-4" >{{formatCost .TotalCost}}</strong></div>
        </div>
    </div>
    {{if and .TotalCost (ne .Customer.FirstName "") (eq .SaveDate.IsZero true)}}
        <form method="post" action="/estimate" class="mt-4">
        <input type="hidden" name="save" value="true">
        <div class="field">
            <button class="button is-primary" type="submit">Save Estimate</button>
        </div>
    </form>
    {{end}}
    <div class="content mt-4">
    {{if .SaveDate.IsZero}}
    {{else if .AcceptDate.IsZero}}
        <h2 class="subtitle">Terms and Conditions</h2>
        <pre>{{ .Terms }}</pre>
        <form method="post" action="/estimate" class="mt-4">
           <input type="hidden" name="accept" value="true">
            <div class="field">
                <button class="button is-success" type="submit">Accept Estimate</button>
            </div>
        </form>
    {{else}}
        <h2 class="subtitle">Terms and Conditions</h2>
        <pre>{{ .Terms }}</pre>
        <p>Estimate Accepted on {{.AcceptDate.Format "2006-01-02 15:04:05"}}</p>
    {{end}}
        <button class="button is-info is-pulled-right" onclick="window.print()">Print</button>
    </div>

    {{if .Error}}
    <div class="notification is-danger mt-5">
        <p>{{.Error}}</p>
    </div>
    {{end}}
</body>
</html>