{{define "estimate.html"}}
  {{template "header.html" .Header}}

  {{with .Page}}
    <div class="level mb-5">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Deck Estimate</h1>
                {{if not .SaveDate.IsZero}}
                    <div class="level-item">
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    {{if .TotalCost}}
    <div class="box mt-5">
        <h2 class="subtitle">Customer
            {{if eq .Customer.FirstName ""}}
                <span class="is-pulled-right"><a href="/customer" class="button is-danger">Add Customer</a></span>
            {{else if .SaveDate.IsZero}}
                <span class="is-pulled-right"><a href="/customer" class="button is-primary">Edit Customer</a></span>
            {{end}}
        </h2>
        <div class="content">
            {{end}}
            <p>{{.Customer.FirstName}} {{.Customer.LastName}}</p>
            <p>{{.Customer.Address}}</p>
            <p>{{.Customer.City}}, {{.Customer.State}} {{.Customer.Zip}}</p>
            <p>{{.Customer.PhoneNumber}}</p>
            <p>{{.Customer.Email}}</p>
        </div>
        <hr>
        <h2 class="subtitle">
            <p class="has-text-white has-background-black"> Details 
            {{if gt .EstimateID 0}}
                 - EstimateID: {{.EstimateID}} 
                 {{if .AcceptDate.IsZero}}
                    Expires: {{.ExpirationDate.Format "2006-01-02"}}
                 {{else}}
                     - Accepted on {{.AcceptDate.Format "2006-01-02"}}
                 {{end}}
            {{end}}
           </p>
           {{if .SaveDate.IsZero}}
            <span class="is-pulled-right"><a href="/calc" class="button is-primary">Customize</a></span>
           {{end}}
        </h2>
        <div class="columns is-multiline">
            <div class="column is-2"><strong>Item</strong></div>
            <div class="column is-8"><strong>Description</strong></div>
            <div class="column is-2 has-text-right"><strong>Cost</strong></div>

            <div class="column is-2">Decription</div>
            <div class="column is-8">{{.Desc}}</div>
            <div class="column is-2 has-text-right"> </div>
 
            <div class="column is-2">Demo</div>
            <div class="column is-8">{{formatDemoDescription .}} </div>
            <div class="column is-2 has-text-right">{{formatCost .DemoCost}}</div>

            <div class="column is-2">Deck</div>
            <div class="column is-8">{{formatDeckDescription .}}</div>
            <div class="column is-2 has-text-right">{{formatCost .DeckCost}}</div>

            <div class="column is-2">Rail</div>
            {{if .RailCost}}
            <div class="column is-8">Supply and install {{.RailMaterial}} rail posts and top rail with {{.RailInfill}} infill. Rails approximately {{printf "%.1f" .RailFeet}} lineal ft</div>
            <div class="column is-2 has-text-right">{{formatCost .RailCost}}</div>
            {{else}}
            <div class="column is-8">Deck rails not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}

            <div class="column is-2">Fascia</div>
            {{if .HasFascia}}
            <div class="column is-8">Supply and install fascia to match deck material approximately {{printf "%.1f" .FasciaFeet}} lineal ft</div>
            <div class="column is-2 has-text-right">{{formatCost .FasciaCost}}</div>
            {{else}}
            <div class="column is-8">Deck fascia not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}

            <div class="column is-2">Stairs</div>
            {{if .StairWidth}}
            <div class="column is-8">Supply and install premium pressure treated stair framing at {{printf "%.1f" .StairWidth}} ft wide. 
                                    Stair treads approximately 11" per step with matching {{.Material}} decking on treads
                                    Total rise of stairs is {{printf "%.1f" .Height}} ft. </div>
            <div class="column is-2 has-text-right">{{formatCost .StairCost}}</div>
            {{else}}
            <div class="column is-8">Stairs not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}
            
            <div class="column is-2">Stair Rails</div>
            {{if .StairRailCost}}
            <div class="column is-8">
                {{if gt .StairRailCount 1.0}} 
                    Supply and install matching stair rails on both sides 
                {{else}}
                    Supply and install matching stair rail - one side only 
                {{end}}
                with {{.RailMaterial}} rail posts and top rail with {{.RailInfill}} infill.
            </div>
            <div class="column is-2 has-text-right">{{formatCost .StairRailCost}}</div>
            {{else}}
            <div class="column is-8">Stair rail not included</div>
            <div class="column is-2 has-text-right">{{formatCost 0}}</div>
            {{end}}
  
            <div class="column is-2">Stair Fascia</div>
            {{if .StairFasciaCost}}
                <div class="column is-8"> Add matching stair fascia to stairs </div>
            {{else}}
                <div class="column is-8"> Stair fascia not included </div>
            {{end}}
            <div class="column is-2 has-text-right">{{formatCost .StairFasciaCost}}</div>
            
 
            <div class="column is-2">Stair Toe Kicks</div>
            {{if .HasStairTK}}
                <div class="column is-8"> Add matching toe kicks to stairs </div>
            {{else}}
                <div class="column is-8"> No toe kicks.  Open. </div>
            {{end}}
            <div class="column is-2 has-text-right">{{formatCost .StairToeKickCost}}</div>
  
            <div class="column is-2 has-text-weight-semibold">Subtotal</div>
            <div class="column is-8 has-text-weight-semibold"></div>
            <div class="column is-2 has-text-weight-semibold has-text-right">{{formatCost .Subtotal}}</div>

            <!--
            <div class="column is-2 has-background-light">Subtotal</div>
            <div class="column is-8 has-background-light"></div>
            <div class="column is-2 has-background-light has-text-right">{{formatCost .Subtotal}}</div>
            -->

            <div class="column is-2">Sales Tax</div>
            <div class="column is-8">WA (Estimated) sales tax.</div>
            <div class="column is-2 has-text-right">{{formatCost .SalesTax}}</div>
            <div class="column is-2 has-text-weight-semibold has-background-grey-dark"><strong class="is-size-4">Total</strong></div>
            <div class="column is-8 has-text-weight-semibold has-background-grey-dark"> </div>
            <div class="column is-2 has-text-weight-semibold has-text-right has-background-grey-dark"><strong class="is-size-4" >{{formatCost .TotalCost}}</strong></div>
        </div>
    </div>
    {{if and .TotalCost (ne .Customer.FirstName "") (eq .SaveDate.IsZero true)}}
        <form method="post" action="/estimate" class="mt-4">
        <input type="hidden" name="save" value="true">
        <div class="field">
            <button class="button is-primary" type="submit">Save Estimate</button>
        <!--
            <div class="control"> <a href="/calc?option=deck" class="button is-primary">Start  Over</a> </div>
        -->

        </div>
    </form>
    {{end}}
    <div class="content mt-4">
    {{if .SaveDate.IsZero}}
      <span></span>
    {{else if .AcceptDate.IsZero}}
        <h2 class="subtitle">Terms and Conditions</h2>
        <pre>{{ .Terms }}</pre>
        <div class="buttons mt-4">
            <form method="post" action="/estimate">
                <input type="hidden" name="accept" value="true">
                <button class="button is-success" type="submit">Accept Estimate</button>
            </form>
            <button class="button is-info" type="button" onclick="window.print()">Print</button>
        </div>
    {{else}}
        <h2 class="subtitle">Terms and Conditions</h2>
        <pre>{{ .Terms }}</pre>
        <p>Estimate Accepted on {{.AcceptDate.Format "2006-01-02 15:04:05"}}</p>
        <div class="buttons mt-4">
            <button class="button is-info" type="button" onclick="window.print()">Print</button>
        </div>
 
    {{end}}
    </div>

    {{if .Error}}
    <div class="notification is-danger mt-5">
        <p>{{.Error}}</p>
    </div>
    {{end}}

    {{end}}
  {{template "footer.html" .}}
{{end}}