<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <title>Columbia Outdoor - Outdoor Living</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/colout.css">
    <style>
    .columns:nth-child(2)
    {margin-top: -10rem;}
    ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
    </style>
  </head>
  <body>

    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="level">
          <div class="level-left">
              <div class="level-item">
                <div class="content">
                  <p class="title"> Columbia Outdoor -  
                      {{if .IsAuthenticated}} Hello {{.AuthEmail}} {{end}}
                  </p>
                  <p class="subtitle"> The Premier Solution for Outdoor Living Projects </p>
                </div>
              </div>
          </div>
          <div class="level-right">
            <div class="level-item">
            <img src="/images/colout2.png" alt="Colout2 Logo" style="max-width: 150px; max-height: 150px;">
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- ==== BULMA NAVBAR (brand + menu) ==== -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>Columbia Outdoor</strong>
      </a>

      <!-- HAMBURGER (mobile) -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         data-target="mainNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/calc?option=deck">Cost Calculator</a>
        <a class="navbar-item" href="/contact">Contact Us</a>
      </div>
    </div>
  </nav>

    <section class="section container">
    <!-- Page Content Starts Below -->