{{define "homeowner.html"}}
  {{template "header.html" .Header}}

  <!-- MAIN CONTENT -->
    <section class="container">
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image modal-button" data-target="modal-card0">
              <figure class="image is-4by3">
                <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck1.jpeg" alt="Deck 1">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{ (index .Page.Strategies 0).Strategy }}</h4>
                <p>{{ (index .Page.Strategies 0).Messaging }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image modal-button" data-target="modal-card1">
              <figure class="image is-4by3">
                <img src="https://storage.googleapis.com/columbiaoutdoor-images/cover1.jpeg" alt="Outdoor Living image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{ (index .Page.Strategies 1).Strategy }}</h4>
                <p>{{ (index .Page.Strategies 1).Messaging }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image modal-button" data-target="modal-card2">
              <figure class="image is-4by3">
                <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck3.jpg" alt="Deck 3 image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{ (index .Page.Strategies 2).Strategy }}</h4>
                <p>{{ (index .Page.Strategies 2).Messaging }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image modal-button" data-target="modal-card3">
              <figure class="image is-4by3">
                <img src="https://storage.googleapis.com/columbiaoutdoor-images/gazebo1.jpg" alt="Gazebo image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>{{ (index .Page.Strategies 3).Strategy }}</h4>
                <p>{{ (index .Page.Strategies 3).Messaging }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image modal-button" data-target="modal-card4">
              <figure class="image is-4by3">
                <img src="https://storage.googleapis.com/columbiaoutdoor-images/cover2.jpg" alt="White Cover">
              </figure>
            </div>
            <div class="card-content ">
              <div class="content">
                <h4>{{ (index .Page.Strategies 4).Strategy }}</h4>
                <p>{{ (index .Page.Strategies 4).Messaging }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!--  ===============
    HERE BE MODALS
    ===============  -->
    <!-- Modal Card 0 -->
    <div id="modal-card0" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://storage.googleapis.com/columbiaoutdoor-images/rails1.png" alt="Custom cedar deck rails on grey composit deck">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/colout2_sm.png" alt="Columbia Outdoor logo">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Columbia Outdoor</p>
                {{ with index .Page.Strategies 0 }}
                  {{ range .PainPoints }}
                    <li>{{ . }}</li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="content">
              {{ (index .Page.Strategies 0).Advantage }}
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end Modal Card 0-->

    <!-- Modal Card 1 -->
    <div id="modal-card1" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://storage.googleapis.com/columbiaoutdoor-images/cover2.jpg" alt="Simple white lean2 cover with roller sun shade">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/colout2_sm.png" alt="Colout Logo">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Columbia Outdoor</p>
                  {{ with index .Page.Strategies 1 }}
                  {{ range .PainPoints }}
                    <li>{{ . }}</li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="content">
              {{ (index .Page.Strategies 1).Advantage }}
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->


    <!-- Modal Card 2  -->
    <div id="modal-card2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck2.jpg" alt="Deck2 image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/colout2_sm.png" alt="Col Out logo">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Columbia Outdoor</p>
                  {{ with index .Page.Strategies 2 }}
                  {{ range .PainPoints }}
                    <li>{{ . }}</li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="content">
              {{ (index .Page.Strategies 2).Advantage }}
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end Modal Card 2-->

    <!-- Modal Card 3  -->
    <div id="modal-card3" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck2.jpg" alt="Deck2 image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/colout2_sm.png" alt="logo small">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Columbia Outdoor</p>
                  {{ with index .Page.Strategies 3 }}
                  {{ range .PainPoints }}
                    <li>{{ . }}</li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="content">
              {{ (index .Page.Strategies 3).Advantage }}
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end Modal Card 3-->

    <!-- Modal Card 4  -->
    <div id="modal-card4" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
               <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck4.jpg" alt="Stairs 1 img">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/images/colout2_sm.png" alt="logo small">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Columbia Outdoor</p>
                  {{ with index .Page.Strategies 4 }}
                  {{ range .PainPoints }}
                    <li>{{ . }}</li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            <div class="content">
              {{ (index .Page.Strategies 4).Advantage }}
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end Modal Card 4-->



    <!-- Image modal -->
    <div id="modal-image2" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://storage.googleapis.com/columbiaoutdoor-images/deck1.jpeg" alt="image">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal -->
    <div id="modal-image4" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-huge is-image">
        <!-- content -->
        <img src="https://images.unsplash.com/photo-1529774172307-627a0ae46dae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="butterfly">
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- Image modal-->
    <div id="modal-image" class="modal modal-fx-superScaled">
      <div class="modal-background"></div>
      <div class="modal-content  is-image">
        <!-- content -->
        <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Placeholder image">
        <!--     <img src="https://source.unsplash.com/zFrUz_tNjCY" alt="placeholder">
        -->    <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!--script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script-->
<script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>  

  {{template "footer.html" .}}
{{end}}