<!DOCTYPE html>
<html>
<head>
    <title>Deck Estimate Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--
    <style>
        body { font-size: 18px; }
        @media (max-width: 500px) {
            body { font-size: 30px; }
        }
    </style>
    -->
</head>
<body class="container mt-5">
    <div class="level mb-5">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">Deck Estimate Calculator</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <img src="/images/colout2.png" alt="Colout2 Logo" style="max-width: 150px; max-height: 150px;">
            </div>
        </div>
    </div>
    <form method="post" action="/estimate" class="box">
        <div class="columns">
            <div class="column is-5">
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Deck</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Length (ft):</label>
                            <input class="input is-normal" type="number" name="length" step="0.1" value="{{printf "%.1f" .Length}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Width (ft):</label>
                            <input class="input is-normal" type="number" name="width" step="0.1" value="{{printf "%.1f" .Width}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Height (ft):</label>
                            <input class="input is-normal" type="number" name="height" step="0.1" min="0" value="{{printf "%.1f" .Height}}" required maxlength="20" style="width: 20ch;">
                        </div>
                        <div class="field">
                            <label class="label">Material:</label>
                            <div class="select">
                                <select name="material" required style="width: 20ch;" value="{{.Material}}">
                                   <option value="outdoorWood" {{if eq .Material "outdoorWood"}} selected {{end}}>Outdoor Wood</option>
                                   <option value="cedar" {{if eq .Material "cedar"}} selected {{end}}>Cedar</option>
                                   <option value="timberTechPrime" {{if eq .Material "timberTechPrime"}} selected {{end}}>TimberTech Prime</option>
                                   <option value="timberTechProReserve" {{if eq .Material "timberTechProReserve"}} selected {{end}}>TimberTech Pro Reserve</option>
                                   <option value="timberTechProLegacy" {{if eq .Material "timberTechProLegacy"}} selected {{end}}>TimberTech Pro Legacy</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="hasFascia" {{if .HasFascia}}checked{{end}}>
                                    Include matching fascia?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Demo</label>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="hasDemo" {{if .HasDemo}}checked{{end}}>
                            Remove Existing Structure?
                        </label>
                    </div>
                </div>
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Rails (optional)</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Material:</label>
                            <div class="select">
                                <select name="railMaterial" class="is-fullwidth" value="{{.RailMaterial}}">
                                    <option value="">None</option>
                                    <option value="wood" {{if eq .RailMaterial "wood"}} selected{{end}}>Wood</option>
                                    <option value="composite" {{if eq .RailMaterial "composite"}} selected{{end}}>Composite</option>
                                    <option value="aluminum" {{if eq .RailMaterial "aluminum"}} selected{{end}}>Aluminum</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Infill:</label>
                            <div class="select">
                                <select name="railInfill">
                                    <option value="">None</option>
                                    <option value="balusters" {{if eq .RailInfill "balusters"}} selected {{end}}>Balusters</option>
                                    <option value="cable" {{if eq .RailInfill "cable"}} selected {{end}}>Cable</option>
                                    <option value="glass" {{if eq .RailInfill "glass"}} selected {{end}}>Glass</option>
                                 </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field mb-3 is-narrow">
                    <label class="label is-medium">Stairs</label>
                    <div class="control">
                        <div class="field">
                            <label class="label">Width (ft):</label>
                            <input class="input is-normal is-fullwidth" type="number" name="stairWidth" step="0.1" min="0" value="{{printf "%.1f" .StairWidth}}" maxlength="20">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Calculate Estimate">
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>