{{define "privacy.html"}}
  {{template "header.html" .Header}}

  {{with .Page}}

<h1>
Terms and Conditions / Privacy Policy
</h1> 
<h2>
Columbia Outdoor respects your privacy. By opting into our SMS messaging service, you agree to the following terms regarding how we handle your data:
</h2>

<p> • Data Collection: We will collect your name, email address, mailing address, and mobile phone number when you sign up for SMS updates. The information will be collected via the website contact form, email, rental agreement, or third-party reservation systems.</p>
<p> • Data Usage: We use your data solely for sending (Send reminders, book appointments, customer care).</p>
<p> • Data Security: We protect your data with secure storage measures to prevent unauthorized access.</p>
<p> • Data Retention: We retain your information as long as you are subscribed to our SMS service. You may request deletion at any time.</p>
<p> • MESSAGE AND DATA RATES MAY APPLY. Your mobile carrier may charge fees for sending or receiving text messages, especially if you do not have an unlimited texting or data plan.  </p>
<p> • MESSAGE AND DATA RATES MAY APPLY. Your mobile carrier may charge fees for sending or receiving text messages, especially if you do not have an unlimited texting or data plan.  </p>
<p> • Messages are recurring, and message frequency varies.  </p>
<p> • Contact Columbia Outdoor at (360) 787-8062 or support@columbiaoutdoor.com for HELP or to STOP receiving messages.  </p>
<p> • Opt-Out: You can opt out of the SMS list at anytime by texting, emailing, or replying STOP or UNSUBSCRIBE to <b>support@columbiaoutdoor.com</b> or (360) 787-8062. After unsubscribing, you will receive a final SMS to confirm you have unsubscribed and we will remove your number from our list within 24 hours.  </p>
<p> • You can send HELP for additional assistance, and you will receive a text including our Phone number, email and website. We are here to help you.  </p>
<p> • Non-Sharing Clause: We do not share your data with third parties for marketing purposes. Columbia Outdoor will not sell, rent, or share the collected mobile numbers </p>

   {{end}}
  {{template "footer.html" .}}
{{end}}